<li><%= link_to 'Main', index_path %></li>
<li>
    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.otherpages">Lifts</span></a>
  <ul class="nav nav-second-level">
    <li><%= link_to 'Shaft lifts', shaft_lifts_path %></li>
    <li><%= link_to 'Service lifts', service_lifts_path %></li>
    <li><%= link_to 'Tower lifts', tower_lifts_path %></li>
  </ul>
</li>
<li><%= link_to 'Services', our_services_path %></li>
<li><%= link_to 'Gallery', gallery_path %></li>
<li><%= link_to 'Contact us', contacts_path %></li>
