<li><%= link_to 'Main', index_path %></li>
<li>
    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.otherpages">Lifts</span></a>
  <ul class="nav nav-second-level">
    <li><%= link_to 'Shaft lifts' %></li>
    <li><%= link_to 'Service lifts' %></li>
    <li><%= link_to 'Tower lifts' %></li>
  </ul>
</li>
<li><%= link_to 'Services' %></li>
<li><%= link_to 'Completed Objects' %></li>
<li><%= link_to 'Contact us' %></li>
